<html>
<header><title>ontwitter</title></header>
<body>

<h2> Log in: </h2>

<form method="post" action="log_in">
{% csrf_token %}
  Username:<br>
  {{ login_form.username }}<br>
  Password:<br>
  {{ login_form.pwd }}<br><br>
  <input type="submit" value="Log In">
</form>

<br>
<br>

<h2> Sign Up: </h2>

<form method="post" action="create_user">
    {% csrf_token %}
  First Name:<br>
  {{ user_form.name }}<br>
  Last Name:<br>
  {{ user_form.sirname }}<br>
  Username:<br>
  {{ user_form.username }}<br>
  Password:<br>
  {{ user_form.pwd }}<br>
  email:<br>
  {{ user_form.email }}<br><br>
  <input type="submit" value="Create Account">
</form>



</body>
</html>